body { 
    background-color: #f0f4f8; 
    font-family: 'Arial', sans-serif; 
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0; 
}

.containerTopo {
    width: 900px;
    height: 200px;
    background-image: url("img/inicio.jpg");
    margin: 20px auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.imagemCabecalho { 
    max-width: 100%; 
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

h1 {
    text-align: center; 
    margin: 20px 0; 
    color: #486d7f; 
    font-size: 2.5em; 
    font-weight: bold; 
}

h2 {
    color: #486d7f;
    font-size: 1.8em; 
    margin-top: 20px; 
    margin-bottom: 10px; 
}

p {
    max-width: 900px; 
    text-align: justify; 
    margin: 15px 0; 
    line-height: 1.6; /* Aumenta o espaçamento entre linhas */
}

.containerMenu {
    width: 300px;
    height: 40px;
    background-image: url("img/Container.jpg");
    border: 2px solid #486d7f;
    border-radius: 15px;
    text-align: center;
    line-height: 40px;
    margin: 10px auto; 
    transition: background-color 0.3s; 
}

.containerMenu:hover {
    background-color: rgba(72, 109, 127, 0.8); 
}

.menuLink,
.menuSeparator {
    font-family: Arial, Helvetica, sans-serif;
    color: #c6e1f1;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

.menuLink:hover {
    text-decoration: underline;
}

.rodape {
    margin: 20px 0;
    padding: 20px; 
    text-align: center; 
    background-color: #f1f1f1; 
    width: 100%; 
    border-top: 1px solid #ccc; 
    max-width: 900px; 
    margin: 0 auto; 
}

.rodapelink {
    font-size: 15px;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    color: #000; 
    transition: color 0.3s; 
}

.rodapelink:hover {
    color: #486d7f; 
}

.linha {
    margin: 10px 0; 
}

.rodape_contatos {
    margin-top: 10px; 
}
